<form action ="/answer" method= "get" data-turbo= "false">
  <div class="mb-3">
    <label for="exampleInputQuestion" class="form-label">Your question</label>
    <input type="text" name="question">
    <div id="QuestionHelp" class="form-text">Ask your question.</div>
  </div>
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
